@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;900&display=swap");

:root {
  --main-bg-color: rgba(0, 0, 0, 0.5);
}

body {
  font: "Raleway", sans-serif;
  color: var(--main-bg-color);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  top: 15%;
	background: linear-gradient(to right, red, yellow); /* Standard syntax */
}

h1 {
  font: 900 6rem "Playfair Display", serif;
  color: var(--main-bg-color);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  width: 100%;
  padding-top: 10px;
}

h3 {
  font: 1em "Playfair Display", serif;
  color: var(--main-bg-color);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
}

input[type="color"] {
  height: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

label.rLab {
  position: relative;
  top: 10px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 15px;
  cursor: pointer;
  border-radius: 100%;
  width: 56px;
  height: 56px;
  line-height: 34px;
  z-index: 90;
  color: var(--main-bg-color);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle;
  -webkit-box-direction: normal;
}

label.rLab {
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
  cursor: default;
}

input[type="radio"]:checked + label.rLab {
  background-color: rgba(189, 189, 189, 0.1);
  border: 1px solid var(--main-bg-color);
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.degtop {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.degbot {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: 0;
  position: absolute;
  top: 40%;
  left: 30%;
}

.align {
  margin-left: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.position {
  margin-top: 2px;
}

.code-box {
  width: 25%;
  background-blend-mode: overlay;
  border-left: 0px solid #696969;
  margin: 0 auto 20px;
  padding-bottom: 20px;
  text-transform: none;
}

.code-box code {
  font-family: "Space Mono", monospace;
  width: 100%;
  margin: 0 auto;
  display: block;
  line-height: 1.4;
  letter-spacing: 0.2px;
  border-left: 3px solid var(--main-bg-color);
  background-color: rgba(189, 189, 189, 0.1);
  padding: 15px 8px 15px 17px;
  border-radius: 5px;
}
